<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css" />
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/ng-grid.js"></script>
    <script src="../App/cors.js"></script>
	<meta charset="utf-8" />
</head>

<body ng-app="Myapp">-->
    <div>
        <form name="myform" ng-submit="insertData(Talk)">
            Id:-<input type="text" ng-model="Talk.id" required><br />
            Name:-<input type="text" ng-model="Talk.name" required><br />
            Speaker:-<input type="text" ng-model="Talk.speaker" required><br />
            Venue:-<input type="text" ng-model="Talk.venue" required><br />
            Duration:-<input type="text" ng-model="Talk.duration" required><br />
            <input type="submit" value="Add">
        </form>
    </div>
<!--</body>
</html>-->
